:root {
  --nc-font-sans: "IBM Plex Mono", ui-monospace, SFMono-Regular, Menlo, monospace;
}

.now h3 {
  border-bottom: none;
  margin-bottom: 1rem;
}
.now dt {
  margin-bottom: 1rem;
}
.now dd:before {
  content: "᎒";
  margin-right: 10px;
}

#strategy:before {
  content: "\0022";
}
#strategy:after {
  content: "\0022";
}

.books img {
  border-radius: 8px;
  display: inline-block;
  margin-right: 20px;
  width: 150px;
}
